* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: myFont;
    src: url("JuliusSansOneAmended.ttf");
}

body {
    background-color: #232b2b;
    color: #f1f1f1;
    font-family: myFont;
}

.rss {
    margin: 20px;
    font-size: 30px;
}